.appbar {
  background-color: #1976d2;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navButton {
  color: white;
}

.loginButton {
  border-color: white !important;
  color: white !important;
}

.searchBox {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 1px 6px;
  background-color: white;
  border-radius: 8px;
}

.searchInput {
  flex: 1;
  margin-left: 8px;
  font-size: 0.85rem;
}

.searchButton {
  padding: 5px;
}